{% extends 'partials/base.html' %} {% block title %}Dashboard{% endblock %} {% block content %}
<div class="row mt-9 pt-9">
    <div class="col-md-9">
        <div class="border p-9 shadow">
            <h4>Загрузить данные</h4>
            <hr>
            <h1>Загрузить НПА в формате .docx</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row contend">
                    <div class="col" align="center">
                        <input type="file" name="document" id="document" required="required">
                    </div>
                    <div class="col-md-9" align="center" > <br>
                        <button id="submit" class="btn-primary">Upload</button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>

{% block messages %} {% if messages %} {% for message in messages%} {{message}} {% endfor %} {% endif %} {% endblock %} {% endblock %}